body {
    background-color: black;

}
header {
    height: 75px;
    padding-top: 5px;
    padding-left: 5px;
    width: 100%;
    border-bottom: 2px yellow solid;
    
}

main {
    width: 100%;
}

footer {
    position: absolute;
    background-color: black;
    height: 25px;
    bottom: 0;
    width: 100%;
    color: yellow;
    text-align: center;
}

.main-wrapper {
    margin: 20px 20px;
    height: 600px;
    width: 715px;
}

.scores, .character-select, .arena {
    box-sizing: border-box;
    border: solid yellow 2px;
    width: 100%;
    margin: 5px 0;
    text-align: center;
    padding-top: 5px;

}
.scores{
    height: 75px;
    
}

.character-select {
    height: 220px;
    padding-left: 10px;
    

}

.arena {
    height: 300px;
}




.character {
    position: relative;
    margin-right: 10px;
    height: 200px;
    width: 160px;
    border: solid white 2px;
    color: white;

}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
}
