/* CSS Variables */

:root {
    --dark: #333;
    --light: #ddd;
    --blue: rgb(1, 180, 235);
    --orange: goldenrod;
}

/*  Core */

*,
:after,
:before {
    box-sizing: border-box;
}

html {
    color: var(--dark);
}

body {
    background-color: black;
    color: yellow;
    line-height: 1.4;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1rem;
}

p {
    font-size: 1rem
}

img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Specifics */

header {
    padding-top: 1.5rem;
    border-bottom: yellow solid 2px;
}
main {
    padding: .5rem;
}

.main-wrapper {
    border: solid yellow 1px;
}

footer {
    text-align: center;
}

.messages-area {
    text-align: center;
}

.stable-area {
    display: grid;
    justify-content: space-evenly;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 100px);
}

.arena-area {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.image {
    max-width: 200px;
}